/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

p,
h1,
h2,
h3 {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

/* Dashboard Header */
.main-header {
    max-height: 80px;
}

.main-header .logo {
    height: 80px;
    padding-top: 15px !important;
}

.sidebar-toggle {
    height: 80px;
    padding-top: 30px !important;
}

.navbar {
    min-height: 80px !important;
}

.main-header .dropdown {
    height: 80px;
    display: flex;
    align-items: center;
}

/* Buttons */



.bttn-jelly.bttn-primary {
    background-color: #2CA0D9;
    border: 0.5px solid "white";
    min-width: 80px;
    border-radius: 8px;
    justify-self: center;
    font-size: 18px;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}