/* styles.css */

/* Body Styles */
body {
  width: 100vw;
  background: url(images/ocean.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  font-size: 1.5rem;
  line-height: 1.5;
  width: 70ch;
}
.h1,
h1 {
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.h2,
h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
}
.h3,
h3 {
  font-size: 2rem;
  text-align: center;
  margin-top: 0.5rem;
}

/* Header Styles */
.fixed-header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-border {
  background-color: #00a09a;
  width: 110vw;
  height: 20px;
  top: 0;
}
.header-title {
  color: #00a09a;
  top: 3.5vh;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}
.header-logo {
  top: 7vh;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
}

/* Navbar Styles */
.navbar-default {
  width: 100vw;
  top: 20vh;
  justify-content: center;
  background-color: #00a09a;
  border: 0;
  position: fixed;
  display: flex;
}
.navbar-header {
  display: none;
}
.navbar-default .navbar-nav li a {
  font-size: 1.5rem;
  color: white;
  background-color: #00a09a;
  padding: 15px 20px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: #2ca0d9;
  color: white;
  text-decoration: none;
}
.navbar-nav > li > .dropdown-menu {
  padding: 0;
}

/* Content Styles */
.first-body-element {
  margin-top: 30vh;
}
.container-fluid {
  padding: 0px;
}
.content-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.content-box,
.content-box-fullpage {
  display: block;
  padding: 65px 10px;
  margin: 0 25px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    rgba(255, 255, 255, 0) 3%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 60%,
    rgba(255, 255, 255, 0) 97%
  );
}
.content-box {
  width: 30%;
}
.content-box-fullpage {
  width: 50%;
}
.input-box {
  background-color: #00a09a;
  color: white;
  padding: 10px;
  width: 30%;
  margin: 15px 30px;
}

/* Media Queries */
@media only screen and (max-width: 765px) {
  .first-body-element {
    margin-top: 45vh;
  }
  .header-logo {
    top: 8.5vh;
    width: 200px;
  }
  .content-box {
    width: 80%;
  }
  .content-box-fullpage {
    width: 80%;
  }
  .content-container {
    flex-direction: column;
    align-content: center;
  }
}
