/* styles.css */

/* Define variables */
:root {
  --color-primary: #00a09a;
  --color-secondary: #2ca0d9;
  --color-alert: #ffa400;
  --color-success: #00ae46;
}

/* Body */
body {
  background-attachment: fixed;
  background-image: linear-gradient(
      to right,
      white 0%,
      transparent 15%,
      transparent 85%,
      white 100%
    ),
    url(images/ocean.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  width: 100vw;
}

/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
}
body {
  font-size: 1.5rem;
  line-height: 1.5;
  width: 70ch;
}
p {
  margin: 0 0 10px;
  font-size: 17px;
}
h1 {
  font-size: 30px;
  letter-spacing: 4px;
  font-family: "Montserrat", Sans-serif;
  font-weight: 600;
  margin-top: 35px;
}
h2 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: left;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--color-primary);
}
h3 {
  font-size: 2rem;
  margin-top: 0.5rem;
  text-align: center;
}
label {
  font-size: 1.5rem;
  font-weight: normal;
}
.p-black {
  color: #3d3d3d;
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 5px;
}

/* Lists */
.content-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 17px;
}
.content-list li {
  counter-increment: step-counter;
  margin-bottom: 10px;
}
.content-list li::before {
  background-color: var(--color-secondary);
  border-radius: 3px;
  color: white;
  content: counter(step-counter);
  font-size: 100%;
  font-weight: bold;
  margin-right: 5px;
  padding: 3px 8px;
}
.input-list {
  position: relative;
  font-size: 2rem;
  min-height: 104px;
}
.input-list-topbox {
  min-height: 107px;
}
.input-list-content {
  padding: 10px 60px 0;
}

/* Header styles */
.header-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 200px;
  position: fixed;
  top: 0;
  width: 100vw;
}
.border-top {
  background-color: var(--color-primary);
  height: 20px;
  width: 100%;
}
.header-title {
  color: var(--color-primary);
}
.header-logo {
  width: 80px;
  position: absolute;
  left: 20px;
  top: 25px;
}
.wave-decal {
  transform: rotateX(180deg);
  display: block;
  position: fixed;
  bottom: 0;
  fill: #00a09a8a;
}
.version-header {
  position: absolute;
  right: 30px;
  top: 60px;
  color: white;
  font-weight: 600;
}

/* Navbar styles */
#navbar_page {
  display: flex;
  margin: 0px -15px;
}
.navbar-default {
  border: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 115px;
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
}
.navbar-header {
  display: none;
}
.navbar-default .navbar-nav li a {
  background-color: #00a09ab8;
  color: white;
  font-size: 1.5rem;
  margin: 10px 25px;
  padding: 12px 30px;
  border: 0;
  border-radius: 40px;
  min-width: 150px;
  text-align: center;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: var(--color-secondary);
  color: white;
  text-decoration: none;
  border: 0;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav li a:hover {
  background-color: var(--color-alert);
  color: white;
  text-decoration: none;
  border: 0;
}
.navbar-nav > li > .dropdown-menu {
  padding: 0;
  border: 0;
  min-width: 155px;
  border-radius: 10px;
  width: 100%;
  align-content: center;
}
.dropdown-menu {
  background-color: #ffffff00;
  box-shadow: none;
}
.dropdown-menu > li {
  width: 90%;
  margin: auto;
}
.dropdown-menu > li > a {
  font-size: 15px !important;
}
.nav-tabs {
  border: 0px;
  top: 200px;
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 100;
}
.nav-tabs > li > a {
  border-radius: 40px;
  background-color: #2ca0d900;
  border: 0;
  margin: 8px 10px;
  padding: 10px 25px;
  color: black;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: black;
  cursor: default;
  background-color: #dce2e58a;
  border: 0px;
  border-bottom-color: transparent;
}

/* Grids */
.content-container-parent {
  position: absolute;
  top: 210px;
  bottom: 0;
  width: 100%;
  margin-left: -15px;
  overflow-y: scroll;
  padding: 12px 15vw 20px 15vw;
}
.content-container-grid {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  left: 0;
  padding: 0 10vw;
  position: absolute;
  right: 0;
  width: 100%;
  grid-template-columns: 2fr 1fr;
}
.grid-generator {
  gap: 35px;
  grid-template-columns: 1fr 1fr;
  display: grid;
  justify-content: center;
  overflow-x: hidden;
  width: 80%;
  margin: 20px 0;
}
.grid-report {
  grid-template-columns: 1fr;
  padding: 0 5vw;
}

/* Content styles */
.content-box-parent {
  overflow-y: scroll;
  position: absolute;
  bottom: 0;
  top: 228px;
  margin-left: -15px;
  box-sizing: border-box;
}
.content-box {
  display: block;
  margin: 20px 25px;
  padding: 20px 30px;
  position: relative;
  width: 95%;
  border-left: 3px solid var(--color-primary);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.4) 30%,
    rgba(184, 79, 79, 0) 90%
  );
}
.report-content-box {
  margin-top: 50px;
  width: 80%;
}
.feedback-box {
  width: 100%;
  height: 50%;
}
.feedback-content-box {
  padding: 10px 20px;
  margin-bottom: 50px;
  background-color: var(--color-primary);
  text-align: center;
}
.feedback-response-box {
  display: grid;
}
#bug_severity > .shiny-options-group {
  justify-self: center;
}
#feedback_text {
  height: 75px;
  resize: none;
}
#feedback_opn_bttn {
  margin-bottom: 50px;
}
#feedback_bttn {
  margin: auto;
}
.input-box {
  position: relative;
  background-color: var(--color-primary);
  color: white;
  padding: 30px;
  overflow-x: hidden;
  height: 100%;
  border-radius: 40px;
}
.input-box-cover {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: color-mix(in srgb, var(--color-primary) 50%, transparent);
}
.tooltip > .tooltip-inner {
  pointer-events: none;
  background-color: var(--color-secondary);
  padding: 10px;
  font-size: 14px;
  max-width: 400px;
}
.validation-box-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: color-mix(in srgb, var(--color-primary) 50%, transparent);
  right: 0;
  bottom: 0;
}
.remove-file-bttn {
  border: none;
  border-radius: 0;
  position: absolute;
  padding: 0 6px;
  height: 32px;
  top: 41px;
  left: 360px;
}
.input-block > .input-tooltip {
  position: absolute;
  top: 61%;
  left: 366px;
}

/* Images */
.datatype-img {
  z-index: 2;
  display: block;
  margin: 0px auto;
  width: 75%;
  position: relative;
}
.report-home-img {
  width: 30em;
  height: 95%;
  mask-image: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.9) 10%,
    rgba(255, 255, 255, 0.8) 60%,
    rgba(184, 79, 79, 0) 100%
  );
}

/* Data template table */
.data-template-table td {
  border-top: none !important;
  padding-right: 80px;
}
.data-template-table thead > tr {
  background: linear-gradient(
    to right,
    rgba(0, 160, 154, 0) 3%,
    rgba(0, 160, 154, 0.5) 20%,
    rgba(0, 160, 154, 0.5) 80%,
    rgba(0, 160, 154, 0) 97%
  );
}
.data-template-table th {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: none !important;
}
.data-template-table tr {
  font-size: 2rem;
  color: white;
  height: 40px;
}
.data-template-table a {
  background-color: rgba(0, 160, 154, 0.5);
  border-radius: 40px 40px 40px 40px;
  padding: 5px 15px 5px 15px;
  color: black;
  text-decoration: none;
  color: white;
}
.data-template-table a:hover {
  background-color: var(--color-alert);
}
.external-link-button {
  width: fit-content;
  color: #ffff;
  background-color: var(--color-primary);
  margin: 1.5rem;
  border-radius: 40px 40px 40px 40px;
  padding: 5px 15px 5px 15px;
}
.external-link-button:hover {
  background-color: var(--color-alert);
}
.external-link-button a {
  text-decoration: none;
}
.external-link-button h1 {
  width: fit-content;
  color: white;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: normal;
  padding: 15px 15px;
  margin: 0;
}
.templates-table {
  width: 1000px;
}

/* Input buttons */
.progress-bar {
  background-color: var(--color-secondary);
}
.pretty .state label:before {
  background-color: white;
  border-color: white;
}
.pretty input:checked ~ .state.p-primary label:after,
.pretty.p-toggle .state.p-primary label:after {
  background-color: var(--color-alert) !important;
}
.shiny-input-checkboxgroup label ~ .shiny-options-group,
.shiny-input-radiogroup label ~ .shiny-options-group {
  font-size: 1.5rem;
}
#go_to_manual_tab {
  background: none;
  border: none;
  padding: 0;
  color: var(--color-secondary);
  cursor: pointer;
}

/* Display buttons */
.file-confirmation-button {
  width: 300px;
  height: 30px;
  max-width: 100%;
  border-radius: 5px;
  background-color: #e9e9e9;
  justify-items: center;
  margin: -21px 0 15px;
}
.file-error-button {
  width: 300px;
  height: 30px;
  max-width: 100%;
  border-radius: 5px;
  background-color: var(--color-alert);
  justify-items: center;
  margin: -21px 0 15px;
}
.file-critical-error-button {
  width: 300px;
  height: 30px;
  max-width: 100%;
  border-radius: 5px;
  background-color: rgb(218, 91, 91);
  justify-items: center;
  margin: -21px 0 15px;
}

/* Loading Bars */
.custom-loader {
  width: 95%;
  height: 40px;
  position: absolute;
  background-color: var(--color-secondary);
  left: 0;
  right: 0;
  top: 40px;
  justify-self: center;
  border: solid white 2px;
  border-radius: 10px;
  overflow: hidden;
}
.custom-loader-bar {
  width: 0%;
  height: inherit;
  background-color: var(--color-alert);
}

/* Download Buttons */
.hidden_download {
  position: absolute;
  left: 60px;
  top: 40px;
  z-index: -1;
}
.dl-bttn-container {
  width: 100%;
  display: flex; 
  flex-wrap: wrap;
  padding: 10px 60px 0;
}

.dl-bttn-container > .input-list-content {
  padding: 5px;
}

/* Styles for Smaller Screens < 1000px */
@media only screen and (max-width: 1100px) {
  .version-header {
    top:20px;
  }
}
@media only screen and (max-width: 1025px) {
  .header-logo {
    display:none;
  }
}